@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
body{
    background: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 14px;
    
}

img{
    height: 450px;
    width: 300px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
   

}

.Main{
    height: 450px;
    width: 600px;
    background: hsl(0, 0%, 100%);
    border-radius: 15px;
    
}

.text{
    margin-left: 339px;
    margin-top: -441px;
}

p.text1{
  font-size: 30px;
  font-family: "Fraunces", serif;
  font-weight: 700;
    
}

.text0{
    color: hsl(228, 12%, 48%);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.text2{
    color:hsl(228, 12%, 48%); 
   
    font-family: "Montserrat", sans-serif ;
     font-weight: 500;
}


.text3{
    font-family: "Fraunces", serif;
    color:hsl(158, 36%, 37%);
    font-size: 30px;
    font-weight: 700;
}

span{
    position: relative;
    bottom: 55px;
    left: 130px;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%); ;
    font-weight: 600;
}

.btn{
    margin-top: -30px;
}

button{
    background: hsl(158, 36%, 37%);
    color:hsl(0, 0%, 100%);
    height: 45px;
    width: 230px;
    border-radius: 15px;
     font-family: "Montserrat", sans-serif ;
     border: none;
     cursor: pointer;
}

svg{
    margin-right: 10px;
}

button:hover{
    background: hsl(212, 21%, 14%)

}


@media (max-width: 600px) {
    .Main{
        flex-direction: column;
        margin: 10px;
        
    }
    img {
        width: 100%;
        border-radius: 15px 15px 0 0;
        
    }
      .text {
        
        margin-left: 0;
        margin-top: 0;
        padding: 20px;
        
        
        
    }
    .btn {
        margin-top: 20px;
    }
    .text3{
        margin-right: 10px;
    }
    span{
        margin-right: 10px;
        
    }
    button{
        width: 100%;
        max-width: 230px;
    }

}




